@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --font-size: 1.8rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 440px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: var(--font-size);
  background-color: #fff;
  line-height: 1.5; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Dark-Grayish-Blue); }

p {
  color: var(--Grayish-Blue); }

img {
  max-width: 100%; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 440px) {
    .buttons {
      flex-direction: column; } }
  .buttons .btn {
    margin: 0 0.8rem;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0.6rem 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease; }
    .buttons .btn:hover {
      opacity: 0.9;
      transform: translateY(-3px); }
    .buttons .btn:active {
      opacity: 0.9;
      transform: translateY(3px); }
  .buttons .btn-green {
    background-color: var(--Strong-Cyan);
    animation: slideInFromLeft 1.5s ease-in-out; }
    @media screen and (max-width: 440px) {
      .buttons .btn-green {
        margin-bottom: 2rem; } }
  .buttons .btn-blue {
    background-color: var(--Light-Blue);
    animation: slideInFromRight 1.5s ease-in-out; }

main {
  max-width: 1440px;
  margin: 0 auto; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.8rem;
  padding: 10rem 0;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  @media screen and (max-width: 440px) {
    .header {
      background-image: url(../images/bg-header-mobile.png);
      padding: 10 1rem; } }
  .header__logo {
    color: var(--Strong-Cyan);
    margin-bottom: 5rem;
    line-height: 1;
    animation: slideInFromTop 1.5s ease-in-out; }
  .header__heading {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 2rem;
    animation: slideInFromTop 1.5s ease-in-out; }
  .header__details {
    padding: 0 20vw;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    animation: slideInFromTop 1.5s ease-in-out; }
    @media screen and (max-width: 440px) {
      .header__details {
        padding: 0 10vw; } }

.snippets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0 6rem 0; }
  .snippets__heading {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 1rem;
    animation: slideInFromLeft 1.5s ease-in-out; }
  .snippets__details {
    padding: 0 20vw;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    animation: slideInFromRight 1.5s ease-in-out; }
    @media screen and (max-width: 440px) {
      .snippets__details {
        padding: 0 10vw; } }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 10rem; }
  @media screen and (max-width: 840px) {
    .grid {
      grid-template-columns: 1fr; } }
  @media screen and (max-width: 440px) {
    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 5rem; } }
  .grid__column--1 {
    padding: 1rem;
    animation: slideInFromLeft 1.5s ease-in-out; }
  .grid__column--2 {
    padding: 5rem;
    animation: slideInFromRight 1.5s ease-in-out; }
    @media screen and (max-width: 840px) {
      .grid__column--2 {
        text-align: center; } }
    @media screen and (max-width: 440px) {
      .grid__column--2 {
        text-align: center; } }
    .grid__column--2 > div {
      margin-bottom: 4rem; }
  .grid .grid__column--heading {
    font-weight: bold;
    margin-bottom: 0.4rem; }

.image {
  display: flex;
  justify-content: center;
  align-items: center; }
  .image img {
    display: block; }

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 10rem;
  text-align: center; }
  @media screen and (max-width: 840px) {
    .services {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 440px) {
    .services {
      grid-template-columns: 1fr;
      margin-bottom: 5rem; } }
  .services div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .services__logo {
    margin-bottom: 2.5rem; }
  .services__heading {
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .services__details {
    width: 85%; }

.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0 10rem 0; }
  @media screen and (max-width: 840px) {
    .logos {
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
      width: 100%; } }
  @media screen and (max-width: 440px) {
    .logos {
      grid-template-columns: 1fr;
      width: 100%;
      gap: 5rem; } }
  .logos img {
    justify-self: center; }
    @media screen and (max-width: 440px) {
      .logos img {
        justify-self: center;
        align-self: center;
        margin: 1rem 0; } }

.footermain {
  padding: 5rem 0;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 4fr;
  gap: 2rem;
  align-items: center; }
  @media screen and (max-width: 440px) {
    .footermain {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2.5rem 0;
      margin-top: 2.5rem; } }
  .footermain__logo {
    color: var(--Strong-Cyan); }
  .footermain div span {
    display: block;
    cursor: pointer;
    color: var(--Grayish-Blue); }
    .footermain div span:hover {
      color: var(--Dark-Grayish-Blues); }
  .footermain div span:first-child {
    margin-bottom: 0.5rem; }
  .footermain__social {
    text-align: right; }
    @media screen and (max-width: 440px) {
      .footermain__social {
        text-align: center; } }
    .footermain__social > i {
      margin-right: 2rem;
      cursor: pointer; }
      .footermain__social > i:hover {
        opacity: 0.5; }
  .footermain .install {
    align-self: flex-start; }

.footerauthor {
  padding: 3rem 0;
  text-align: center; }
  .footerauthor a {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    border-bottom: 1px dotted var(--Dark-Grayish-Blue);
    transition: all 0.2s ease; }
    .footerauthor a:hover {
      color: var(--Grayish-Blue);
      border-bottom: 1px dotted var(--Grayish-Blue); }

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }
